.headContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-top: 1rem;

    .info {
        display: flex;
        margin: 0.5rem 0rem 1.5rem;

        .nameAndDate {
            margin-left: 1rem;
            font-family: 'Roboto', sans-serif;

            .name {
                font-weight: 600;
                font-family: Roboto;
                font-family: 'Roboto', sans-serif;
            }

        }
    }

    .favouriteBtn {
        button {
            display: flex;
            justify-content: center;
            flex-shrink: 0;
            color: #2FC4F3;
            background-color: white;
            border-color: #2FC4F3;
            border-radius: 5px;
            font-family: Roboto;
            font-size: 1rem;
            padding: 5px 15px 5px;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;

            svg {
                margin-right: 10px;
            }
        }
    }
}