.mainContainer {
  width: 85%;
  .navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;

    .searchFrame {
      width: 80%;
      text-align: center;
      input {
        width: 70%;
        font-size: 1rem;
        border-radius: 5px;
        padding: 10px;
      }
    }
    .notificationsAndUser {
      width: 20%;
      text-align: right;
      span {
        margin-right: 10%;
      }
    }
  }

  main {
    background-color: #f0f4f8;
    min-height: 50vh;
    padding: 1rem;

    .activitiesHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        color: #233539;
        font-family: Open Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.05px;
      }

      .tabs {
        ul {
          margin-right: 20px;
          li {
            font-family: Roboto;
            list-style: none;
            display: inline;
            margin: 10px;
            font-size: 0.9 rem;
            color: #323c47;
            font-weight: 600;
            opacity: 0.6000000238418579;
          }
          .active {
            background-color: white;
            padding: 0.5rem;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
