.sideBar {
  width: 15%;
  .logo {
    height: 70px;
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 8px;
    font-size: 1.3rem;
  }

  .menuList {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-top: 2px;
    nav {
      ul {
        li {
          font-size: 1.5rem;
          list-style: none;
          padding: 1rem;
          margin-top: 4px;
          width: 70%;
        }
        :hover {
          background-color: #2fc7f7;
        }
      }
    }
  }
}
